# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea/.gitignore
/.idea/.name
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-9bb3b05ddd6db65d647b.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/bin/cmake_install.cmake
/cmake-build-debug/parser_lib/cmake_install.cmake
/cmake-build-debug/text_lib/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-98a23a307e0de92a53da.json
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-3ffd18bdfd2b5c48d9ca.json
/.idea/CPCDMessenger.iml
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/directory-bin-Debug-3d84778fa4221ebd449e.json
/cmake-build-debug/.cmake/api/v1/reply/directory-parser_lib-Debug-35f8fbe5db0e3424a5f5.json
/cmake-build-debug/.cmake/api/v1/reply/directory-text_lib-Debug-80b4522e3dc073704d32.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-08-07T13-41-20-0595.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-Messenger-Debug-234c043ecd3c8a28fb8c.json
/cmake-build-debug/.cmake/api/v1/reply/target-parser-Debug-b9cbf3b947979a483541.json
/cmake-build-debug/.cmake/api/v1/reply/target-text_parser-Debug-27cff6737f8e4651f777.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-8c2a3eda20d7af1b72d4.json
/.idea/vcs.xml
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8cedec5fad2d449379fa.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-08-17T17-33-58-0120.json
/cmake-build-debug/.cmake/api/v1/reply/target-Messenger-Debug-1fd1b619d083fad7a702.json
